<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>402019040877-aiemq8h1qdkrbsa197uv2b8ku847f913.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.402019040877-aiemq8h1qdkrbsa197uv2b8ku847f913</string>
	<key>API_KEY</key>
	<string>AIzaSyDv1boQ0Bb0-PLvmaqZf_hqlbrEM9tmun0</string>
	<key>GCM_SENDER_ID</key>
	<string>402019040877</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.slava-soft.Navigation</string>
	<key>PROJECT_ID</key>
	<string>navigation-b88fd</string>
	<key>STORAGE_BUCKET</key>
	<string>navigation-b88fd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:402019040877:ios:95a4f788d4a7163c7d8964</string>
</dict>
</plist>